<h1>Wish List</h1>

<h3>Speak (or type) it into existence! Save your hopes and dreams so you never lose sight of your goals</h3>

<ul>
  {{#each wishes}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>Wish: {{this.wish}}</p>
       <p>Category: {{this.category}}</p>
  	</li>
  {{/each}}
</ul>

<form action="/" method="POST">
	<textarea type="text" name="wish"></textarea>
    <textarea type="text" name="category"></textarea>

	<button type="submit">Submit</button>
</form>
