<!-- 4. Output the animalType string, pet boolean, and fierceness number to the page -->
<ul>
    <li>Animal: {{animalType}}</li>
    <li>Is it a pet? {{pet}}</li>
    <li>Fiercness: {{fierceness}}</li>
</ul>